@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>Our Address</h3>
<address>
    One Drive<br />
    Fairview, Dublin3<br />
    <abbr title="Phone">Phone:</abbr>
    0125.555.0100
</address>
<address>
    <strong>Support:</strong> <a href="#">hubcafe@google.com</a><br />
    <strong>Marketing:</strong> <a href="#">thehub:Marketing@example.com</a>
</address>
